    /*   General.*/
    
    * {
        font-family: 'Roboto', Times, serif;
    }
    
    body {
        /*  Altura de Tela  min-height: 100vh;*/
        min-height: 100vh;
        padding-bottom: 100px;
        position: relative;
        background-image: linear-gradient(to right, rgb(75, 73, 73), rgb(224, 224, 224));
    }
    
    header {
        background-color: #FFF;
        border-bottom: 1px solid #ccc;
    }
    
    h2 {
        color: #c28008;
        margin-bottom: 30px;
        font-weight: 900;
    }
    /*  
    Aqui Temos a o css de nossa session.
 */
   
    
    .msg {
        background-color: rgb(122, 224, 62);
        color: rgb(104, 88, 88);
        border: 1px solid #c3eccb;
        width: 100%;
        text-align: center;
        margin-bottom: 0;
        padding: 10px;
    }
    
    #row {
        margin: 0;
    }
    /*  
    Aqui Alinhamos o menu superior a navBAr.
 */
    /*  Barra navegação    */
    
    nav.navbar-transparente {
        padding: 15px 0px;
        background: rgb(134, 107, 107);
    }
    
     .navbar-light .navbar-nav .nav-link{
        color: white;
    }
    
    .navbar-light .navbar-nav .nav-link:hover {
        color: rgb(238, 230, 230);
        background: rgb(85, 5, 5);
    }

  
    .navbar-light .navbar-toggler {
        border-color: rgb(66, 64, 64);
    }
    
    .divisor {
        margin: 12px 15px;
        width: 1px;
        background: white;
    }
    
    .capa {
        text-align: center;
    }
    /*  fim  Barra navegação    */
    
    #search-container {
        background-image: url("../img/eventoCapa1.jpg");
        background-size: cover;
        background-position: center;
        height: 300px;
        padding: 50px;
        text-align: center;
    }
    
    #search-container h1,
    #search-container form {
        width: 60%;
        margin: 0 auto;
    }
    /*  
      Aqui temos a Lista dos eventos 
 */
    
    #events-container #card-container {
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        padding: 10px;
    }
    
    #events-container h2 {
        margin-bottom: 30px;
    }
    
    #events-container .subtitle {
        color: #757575;
        margin-bottom: 30px;
    }
    /*  
     Analisar aqui
 */
    
    #events-container .card h2 {
        margin-bottom: 10px;
    }
    
    .card {
        margin: 1px;
        padding: 5px;
    }
    
    .card img {
        max-height: 150px;
        border-top-right-radius: 10px;
    }
    
    .card .card-date {
        font-size: 12px;
        color: #ccc;
    }
    
    .card .card-title {
        color: #212121;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    
    .card-participants {
        font-size: 14px;
        color: #757575;
    }
    
    .card .btn-primary {
        background-color: #f2a340;
        border: 2px solid #c28008;
    }
    
    .card .btn-primary:hover {
        background-color: #c28008;
        border-color: #c28008;
    }
    
    footer {
        text-align: center;
        background-color: #353e48;
        color: #FFF;
        padding: 30px;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    /*  
    Create Event.
*/
    
    #event-create-container {
        padding: 30px;
    }
    
    #event-create-container label {
        font-weight: bold;
    }
    /* event show
    */
    
    #image-container,
    #info-container {
        margin-top: 30px;
    }
    
    #image-container img {
        border-radius: 10px;
    }
    
    #info-container h1 {
        font-size: 36px;
        font-weight: 900;
    }
    
    #info-container p {
        margin: 0;
        font-size: 14px;
        display: flex;
    }
    
    #info-container h3,
    #description-container h3 {
        font-size: 20px;
        font-weight: bold;
    }
    
    #info-container ion-icon {
        font-size: 20px;
        color: #f2a340;
        margin-right: 5px;
    }
    
    #info-container #event-submit {
        margin: 20px 0;
    }
    
    #items-list {
        list-style: none;
        padding-left: 0;
    }
    /*  Aqui colocamos lado a lado*/
    
    #items-list li {
        display: flex;
    }
    /* Dashboard*/
    
    .dashboard-title-container {
        margin-bottom: 30px;
        margin-top: 30px;
    }
    
    .dashboard-title-container th {
        width: 25%;
    }
    
    .dashboard-events-container form {
        display: inline-block;
    }
    /* Edit Preview*/
    
    .img-preview {
        width: 100px;
        margin-top: 20px;
    }